# Problem 2

In [2]:
x = int(input("enter a number:"))
y = int(input("enter a number:"))
if x % 2 == 0:
    print("Even")
else:
    print("odd")
if y % 2 == 0:
    print("Even")
else:
    print("odd")

enter a number:10
enter a number:9
Even
odd

In [3]:
x = int(input("enter a number:"))
y = int(input("enter a number:"))
z = x+y
if x % 2 == 0:
    print("x is an Even number")
else:
    print("x is an odd number")
if y % 2 == 0:
    print("y is an Even number")
else:
    print("y is an odd number")
if z % 2 == 0:
    print("the sum is an even number")
else:
    print("the sum is an odd number")

enter a number:12
enter a number:23
x is an Even number
y is an odd number
the sum is an odd number

# PROBLEM 3

In [5]:
import pandas as pan

In [8]:
RnD_Spend = [12, 14, 18, 99, 27, 28, 939, 747, 97]
Administration = [46, 790, 134, 75, 67, 28, 22, 37, 11]
Marketing_Spend = [68, 79, 25, 47, 43, 467, 875, 785, 895]
State = ['New York','Califonia', 'Florida', 'Lagos', 'Abuja','New Jersey','Zimbabwe','Southy','Portland']
Profit = [14.9, 57.8, 66.3, 33.8, 52.1, 80.0, 66.1, 98.4, 47.5]

In [9]:
tab = {'RnD_Spend': RnD_Spend, 'Administration': Administration, 'Marketing_Spend': Marketing_Spend, 'State': State, 'Profit': Profit}

In [10]:
tab

{'RnD_Spend': [12, 14, 18, 99, 27, 28, 939, 747, 97],
 'Administration': [46, 790, 134, 75, 67, 28, 22, 37, 11],
 'Marketing_Spend': [68, 79, 25, 47, 43, 467, 875, 785, 895],
 'State': ['New York',
  'Califonia',
  'Florida',
  'Lagos',
  'Abuja',
  'New Jersey',
  'Zimbabwe',
  'Southy',
  'Portland'],
 'Profit': [14.9, 57.8, 66.3, 33.8, 52.1, 80.0, 66.1, 98.4, 47.5]}

In [12]:
import pandas

In [13]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [14]:
data = pandas.DataFrame(tab)

In [15]:
data

   RnD_Spend  Administration  Marketing_Spend       State  Profit
0         12              46               68    New York    14.9
1         14             790               79   Califonia    57.8
2         18             134               25     Florida    66.3
3         99              75               47       Lagos    33.8
4         27              67               43       Abuja    52.1
5         28              28              467  New Jersey    80.0
6        939              22              875    Zimbabwe    66.1
7        747              37              785      Southy    98.4
8         97              11              895    Portland    47.5

In [16]:
data.to_excel('data.xlsx')

# PROBLEM 4

CODE TO CALCULATE THE SPEED OF CARS IN MILES PER HOUR

In [18]:
S = int(input('Distance in miles:'))
T = int(input('Time in hours:'))
V = S/T
print("The speed is", V, "miles/hour")

Distance in miles:100
Time in hours:2
The speed is 50.0 miles/hour